/CodigoFuente/ProyectoBase_JSF2.0/nbproject/private/
/CodigoFuente/ProyectoBase_JSF2.0/ProyectoBase_JSF2.0-war/nbproject/private/
/CodigoFuente/ProyectoBase_JSF2.0/ProyectoBase_JSF2.0-ejb/nbproject/private/
/CodigoFuente/ProyectoBase_JSF2.0/ProyectoBase_JSF2.0-war/build/
/CodigoFuente/ProyectoBase_JSF2.0/ProyectoBase_JSF2.0-ejb/dist/
/CodigoFuente/ProyectoBase_JSF2.0/ProyectoBase_JSF2.0-ejb/build/
/CodigoFuente/ProyectoBase_JSF2.0/ProyectoBase_JSF2.0-war/dist/
/CodigoFuente/JavaApplication1/nbproject/private/
/CodigoFuente/JavaApplication1/
/CodigoFuente/ProyectoBase_JSF2.0/build/
/CodigoFuente/WebApplication1/nbproject/private/
/CodigoFuente/WebApplication1/
/CodigoFuente/Proyecto/nbproject/private/
/CodigoFuente/Proyecto/Proyecto-war/nbproject/private/
/CodigoFuente/Proyecto/Proyecto-ejb/nbproject/private/
/CodigoFuente/Proyecto/Proyecto-ejb/build/
/CodigoFuente/Proyecto/Proyecto-ejb/dist/
/CodigoFuente/Proyecto/Proyecto-war/build/
/CodigoFuente/Proyecto/build/
/CodigoFuente/Proyecto/Proyecto-war/dist/
/CodigoFuente/Proyecto/dist/
Modelos/Interfaces.graffle/data.plist
Modelos/Interfaces.graffle/image1.png
Modelos/Interfaces.graffle/image2.png
Modelos/Interfaces.graffle/image3.png
Modelos/Interfaces.graffle/image4.png
Modelos/Interfaces.graffle/image5.png
Modelos/Interfaces.graffle/image6.png
Modelos/Interfaces.graffle/image7.png
/CodigoFuente/**/genfiles.properties
/CodigoFuente/Proyecto/Proyecto-ejb/nbproject/genfiles.properties