div#wrapper_l {
    min-width: 900px;
    max-width: 95%;
}

#top {
    position: relative;
    padding: 0px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative;
   /* background-color: #ebf1f6;;*/
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #dddddd;
    padding: 5px;
    width: 200px;
    min-height: 300px;
   /* margin-left: 15px;*/
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center{
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 0px 0px 2px #000000;
    -webkit-box-shadow: 0px 0px 2px #000000;
    box-shadow: 0px 0px 2px #000000;
    background-color: #FFFFFF;
    margin: 0px 20px 0px 20px;
    padding: 5px;
    overflow-y: auto;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 240px;
    margin-right: 15px;
    min-height: 300px;
    min-width: 600px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: blue;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: black;
  font-weight : bold;
  text-decoration : underline;
}

.home_layout{
     width:100%;
     min-height:250px;
     max-height: 600px;
     height: 550px;
}

.scrollPanelNotificacion{
    border: none;
}

.new_notificacion{
    background: lightSkyBlue;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #A6C9E2;
    padding: 4px;
}

.hold_notificacion{
    background: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #A6C9E2;
    padding: 4px;
}

.image_home{
    width: 100px;
    height: 100px;
    margin: 20px;
}

.txt_menu_home{
    text-align: justify;
    padding: 5px;
    margin-right: 20px;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
    
}