body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    /*font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;*/
    color: #18316D;  
    margin: 0px;
   
    line-height: 1.3em;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
   /* font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;*/
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

label{
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.label_blod{
    font-weight: bold;
}

.ui-widget {
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.ui-button-text {
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.ui-menuitem-text{
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.ui-widget-header{
    font-family: Helvetica, Arial, sans-serif;
}