body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    /*font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;*/
    color: #18316D;  
    margin: 0px;
   
    line-height: 1.3em;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
   /* font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;*/
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

label{
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.label{
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.label_blod{
    font-weight: bold;
}

.title_italic{
    font-weight: bold;
    font-size: 13px;
    text-decoration: underline;
    font-style: italic;
    line-height: 1.5em;
}

.title_asunto{
    font-size: 14px;
    text-decoration: underline;
    font-style: italic;
    line-height: 1.5em;
}

.title_bold{
    font-size: 13px;
    line-height: 1.5em;
    font-weight: bold;
    color: black;
}


.text_blod_blue{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #18316D;
}

.text_date_small{
    font-family: Helvetica, Arial, sans-serif;
    font-size:  11px;
    color: gray;
}

.text_small{
    font-size:  11px;
}

.text_small_ligth{
    font-size:  11px;
    color: #616161;
}
.grid_comentario{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px;
}

.data_list_sin_borde{
    border: none;
}

.ui-widget {
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
    font-size: 12px;
}

.ui-button-text {
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.ui-menuitem-text{
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.ui-widget-header{
    font-family: Helvetica, Arial, sans-serif;
}

.text_disabled{
    color: #dddddd;
}

.separator_vertical{
    margin-left: 20px;
    margin-right: 20px;    
}

.separator_horizontal{
    margin-top: 10px;
    margin-bottom: 10px;    
}


tr.row_align_bottom{
    vertical-align: bottom;
}

dd {
    display: block;
    -webkit-margin-start: 10px;
}

.ui-datalist-content{
    border: none;
}

.column_grid{
    width: 100%;
}

a.small_link{
    color: gray;
    font-weight : normal;
    text-decoration: none;
    font-size: 11px;
}

.columnas_grid_ultimas_solicitudes{
    margin-right: 20px;
    margin-left: 20px; 
}

.ui-tabs-nav{
   height: 30px; 
}
.row_solicitud_nueva{
    background-color: lightblue ;
    background-image: none !important;
    color: black !important;
}

.row_solicitud_vencida{
    background-color: lightpink ;
    background-image: none !important;
    color: black !important;
}

.row_solicitud_cerrada{
    background-color: lightgray ;
    background-image: none !important;
    color: black !important;
}

.line_button{
    hanging-punctuation: 1.2em;
}

.p_panelgrid_sin_borde tr, .p_panelgrid_sin_borde td{
    border: none !important;
}

.header_panelgrid thead tr th{
    border: 1px solid #18316D ;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    background-color: #A6C9E2;
    text-align: left;
    font-size: 13px;
    height: 2em;
}

.menu_bar{
    height: 2.5em;
    background: #EFFFFF;
}

.panel_info_sol{
    min-height: 10em;
    margin-bottom: 1em;
}

.column_5m td{
    min-width: 5em;
}

.file_upload{
    display: inline-block;
    max-width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #222;
}

.file_upload_background{
    width: 450px;
    background-color: whiteSmoke;
    border: 1px solid gainsboro;
    font-weight: bold;
    margin: 5px;
    padding-left: 5px;
}

.file_size_format{
    color: #777;
    display: inline-block;
    padding: 3px;
}