body {
    background-color: #ffffff;
    font-size: 12px;
    font-family: Helvetica, Arial, sans-serif;
    /*font-family: Verdana, "Verdana CE",  Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;*/
    color: #18316D;  
    margin: 0px;
   
    line-height: 1.3em;
}

h1 {
    font-family: Helvetica, Arial, sans-serif;
   /* font-family: Arial, "Arial CE", "Lucida Grande CE", lucida, "Helvetica CE", sans-serif;*/
    border-bottom: 1px solid #AFAFAF; 
    font-size:  16px;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

a:link, a:visited {
  color: #045491;
  font-weight : bold;
  text-decoration: none;
}

a:link:hover, a:visited:hover  {
  color: #045491;
  font-weight : bold;
  text-decoration : underline;
}

label{
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.label_blod{
    font-weight: bold;
}

.text_blod_blue{
    font-family: Helvetica, Arial, sans-serif;
    font-weight: bold;
    color: #18316D;
}

.text_date_small{
    font-family: Helvetica, Arial, sans-serif;
    font-size:  11px;
    color: gray;
}

.text_small{
    font-size:  11px;
}

.grid_comentario{
    margin-bottom: 5px;
    margin-top: 5px;
    padding: 4px;
}

.data_list_sin_borde{
    border: none;
}

.ui-widget {
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
    font-size: 12px;
}

.ui-button-text {
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.ui-menuitem-text{
    font-family: Helvetica, Arial, sans-serif;
    color: #18316D;
}

.ui-widget-header{
    font-family: Helvetica, Arial, sans-serif;
}

.text_disabled{
    color: #dddddd;
}

.separator_vertical{
    margin-left: 20px;
    margin-right: 20px;    
}

tr.row_align_bottom{
    vertical-align: bottom;
}

dd {
    display: block;
    -webkit-margin-start: 10px;
}

.ui-datalist-content{
    border: none;
}

.column_grid{
    width: 100%;
}

a.small_link{
    color: gray;
    font-weight : normal;
    text-decoration: none;
    font-size: 11px;
}