/* 
    Document   : header
    Created on : 11-jun-2012, 11:08:04
    Author     : Alejandro
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.logoUv { 
    border: none; 
    width:165px; 
    height:85px; 
    top:0 
}

.basicInfo{
    float:right;
    padding: 10px;
}

div#header_c {
	background: url(../imagenes/header/mw_header_t.png) 0 0 repeat-x;
}

div#header_l {
	background: url(../imagenes/header/mw_header_t_l.png) 0 0 no-repeat;
}

div#header_r {
	background: url(../imagenes/header/mw_header_t_r.png) 100% 0 no-repeat;
}
